<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
</head>
<body bgcolor="DodgerBlue">
    <div style="text-align:center">
    <font></font><br/><font></font><br/><font></font><br/>
    <font face="宋体" size="+5" color="#F0F8FF">体育新闻搜索</font><br/>
    <font></font><br/>
    <font></font><br/>
    <form action ='result' method='post'>
        <input type="txt"  rows="2" cols="60" placeholder="请输入你要搜索的内容...."  
        name='username' style="height:40px;width:500px;">  
        <button type="submit" class="search-submit"
        style="height:38px;width:60px;">相关度搜索</button> 
        <button type="submit" class="search-submit"
        style="height:38px;width:60px;">时间搜索</button> 
        <button type="submit" class="search-submit"
        style="height:38px;width:60px;">图片搜索</button> 
        <button type="submit" class="search-submit"
        style="height:38px;width:60px;">上传图片</button> 
    </form>
    </div>
</body>
</html> 